*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    text-align: justify;
    background-image: linear-gradient(to top,#A66946,#dbb8a3c2);
}
main{
    background-color: white;
    border-radius: 14px;
   box-shadow: 5px 5px 15px rgba(46, 44, 15, 0.686);
    width: 600px;
    padding: 10pt;
    margin: auto;
}
h1{
    color: #59551C;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(41, 39, 13, 0.686);
}
h2{
    color: #7C96A6;
}